.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.checkboxContainer {
    margin-top: 15px;
    width: 250%;
  }

  .butoo{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 15px;
  }

  .categoryContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .categoryColumn {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  

.forms {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form {
    width: 50%;
}

textarea {
    width: 100%;
}

label {
    display: block;
    width: 100%;
    text-align: left;
}

input {
    width: 100%;
    height: 30px;
    font-size: 17px;
}

/* Zmiany dla elementu select */
.select {
    width: 100%;
    height: 33px;
}

.button {
    margin-top: 20px;
    width: 100%;
    padding: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: lightgrey;
}