 .button1{
   width: 130%;
    margin-top: 10%;
    padding: 10% !important;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.button2{
    width: 130%;
     margin-top: 60% !important;
     padding: 10% !important;
     border: 1px solid black;
     border-radius: 8px;
     cursor: pointer;   
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
 }


.summary {
  width: 30%;
 align-items: center;
 text-align: center;
}

.table{
    width: 70%;
}

.box{
    display: flex;
    width: 95%;
}