.table_button{
    display: flex;
    width: 95%;
}
p{
    margin-top: 8px;
    margin-bottom: 4px;
}
.table{
    margin-top: 10px;
    margin-left: 20px;
}

.name {
    margin-left: 10px;
    padding-right: 50px;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}


